<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>



    <div class="nav  justify-content-between  p-3 ">
      <div class="navbar-brand" >
        <img   src="./assets/images/logo.svg" alt="" srcset="">
      </div>
      <ul class="nav d-flex   justify-content-end ">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="#">
            <!-- <img src="./assets/images/account-circle.svg" alt="" srcset=""> -->
            首頁
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" href="/ClassIntro.html">
            <!-- <img src="./assets/images/account-circle.svg" alt="" srcset=""> -->
            課程介紹            
          </a>
        </li>
        <li class="nav-item text-white">          
            <a class="nav-link text-white" href="#">
              <img  src="./assets/images/account-circle.svg" alt="" srcset="">              
              登入
            </a>
         
        </li>
      
      </ul>
    </div>
    <div class="underLine d-flex " style="height: 2px;">
      <div class="h-2"  style="height: 2px;"></div>
      <div style="height: 2px;"></div>
    </div>






    <%- contents %>

    <footer class="footer p-2">
      Coding Home © 2022 All Rights Reserved
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>